---
import { Image } from '@astrojs/image/components'
import { IoChevronForward } from 'react-icons/io5/index.js'
const { frontmatter, url } = Astro.props.project
---

<!-- Box -->
<div class="w-full text-center">
  <!-- Link box -->
  <div class="cursor-pointer relative">
    <Image
      src={frontmatter.thumbnail}
      alt={frontmatter.title}
      position="top"
      width={720}
      aspectRatio={1.5}
      decoding="async"
      loading="lazy"
      class="rounded-xl min-h-full min-w-full max-h-full max-w-full"
    />
    <!-- Link overlay -->
    <p class="mt-2">{frontmatter.title}</p>
    <p class="text-sm">{frontmatter.description}</p>
    <a
      href={url}
      class="static hover:underline decoration-custom-blue dark:decoration-custom-teal before:absolute before:cursor-pointer before:block before:top-0 before:left-0 before:z-0 before:w-full before:h-full"
    >
      <button
        class="inline-flex underline-offset-2 appearance-none items-center justify-center select-none relative whitespace-nowrap align-middle outline-none rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-custom-teal transition-colors"
        >View project
        <IoChevronForward
          className="text-current align-middle shrink-0 leading-4 ml-2 mt-[1px] w-4 h-4"
        />
      </button>
    </a>
  </div>
</div>
