---
import Heading from '../components/Heading'
import PasswordInput from '../components/PasswordInput'
import MotionSection from '../components/MotionSection'
import BaseHead from '../components/BaseHead.astro'
import Body from '../components/Body.astro'
import Header from '../components/Header.astro'
import Content from '../components/Content.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE } from '../config'
import type { MarkdownLayoutProps } from 'astro'
type Props = MarkdownLayoutProps<{
  title: string
  description: string
  thumbnail: string
  password: string
  tags: string[]
  pageUrl: string
  createdAt?: string
  updatedAt?: string
}>

const { frontmatter } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead
      title={`${SITE_TITLE} | ${frontmatter.title}`}
      description={frontmatter.description}
    />
  </head>
  <Body>
    <Header />
    <main class="pt-[56px] relative">
      {
        frontmatter.password && (
          <PasswordInput
            client:load
            password={frontmatter.password}
            title={frontmatter.title}
          />
        )
      }
      <Content className="px-0 sm:px-0 max-w-[50rem]">
        <div
          class="bg-custom-teal dark:bg-zinc-700 p-3 my-6 text-center rounded-lg"
        >
          <MotionSection client:load delay={0.15} classNames="mb-0">
            <a href={frontmatter.pageUrl} class="inline-block">
              <Heading as="h1" variant="section-title" className="no-underline">
                {frontmatter.title}
              </Heading>
            </a>
          </MotionSection>
        </div>
        <MotionSection client:load delay={0.3}>
          <slot />
        </MotionSection>
        <span
          class="text-4xl w-1/2 pr-4 mb-4 sm:ml-[-10%] sm:max-w-[120%] my-16"
        ></span>
        <span
          class="text-2xl w-[720px] py-1 px-2 mb-8 hover:text-custom-teal decoration-custom-teal"
        ></span>
      </Content>
    </main>
  </Body>
  <Footer />
</html>
