---
import PasswordInput from '../components/PasswordInput'
import MotionSection from '../components/MotionSection'
import Page from './page.astro'
import BaseHead from '../components/BaseHead.astro'
import Body from '../components/Body.astro'
import Header from '../components/Header.astro'
import Content from '../components/Content.astro'
import Footer from '../components/Footer.astro'
const { content } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={content.title} description={content.description} />
  </head>
  <Body>
    <Header />
    <main class="relative pt-[56px] h-[calc(100vh-56px)] overflow-hidden">
      {
        content.password && (
          <PasswordInput
            client:load
            password={content.password}
            title={content.title}
          />
        )
      }
      <Content>
        <div
          class="bg-custom-teal dark:bg-zinc-700 p-3 my-6 text-center rounded-lg"
        >
          {content.title}
        </div>
        <MotionSection client:load delay={0.1}>
          Introductory text

          <div>Design Process</div>

          <div>My Role</div>
          image concluding section
        </MotionSection>
        <MotionSection client:load delay={0.2}>
          introductory image Pain points
          <div>
            grid
            <div>one</div>
            <div>one</div>
            <div>one</div>
            <div>one</div>
          </div>
        </MotionSection>
        <MotionSection client:load delay={0.3}>
          intro image
          <div>Lessons learned</div>
          <div>next steps</div>
        </MotionSection>
      </Content>
    </main>
  </Body>
  <Footer />
</html>
