---
import Heading from '../components/Heading'
import PasswordInput from '../components/PasswordInput'
import MotionSection from '../components/MotionSection'
import BaseHead from '../components/BaseHead.astro'
import Body from '../components/Body.astro'
import Header from '../components/Header.astro'
import Content from '../components/Content.astro'
import Footer from '../components/Footer.astro'
import MoreProjectsGridItem from '../components/MoreProjectsGridItem.astro'
import { SITE_TITLE } from '../config'
import type { MarkdownLayoutProps } from 'astro'
import type { Project } from '../types/project'
type Props = MarkdownLayoutProps<Project>
const { frontmatter } = Astro.props

const projects = (await Astro.glob<Project>('../pages/projects/**/*.md'))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.createdAt).valueOf() -
      new Date(a.frontmatter.createdAt).valueOf()
  )
  .filter(p => p.frontmatter.slug !== frontmatter.slug)
---

<html lang="en">
  <head>
    <BaseHead
      title={`${SITE_TITLE} | ${frontmatter.title}`}
      description={frontmatter.description}
    />
  </head>
  <Body>
    <Header />
    <main
      class={`pt-[56px] relative ${
        Boolean(frontmatter.password) ? 'overflow-hidden h-screen' : ''
      }`}
    >
      {
        frontmatter.password && (
          <PasswordInput
            client:load
            password={frontmatter.password}
            title={frontmatter.title}
          />
        )
      }
      <Content className="px-0 sm:px-0 max-w-3xl">
        <div
          class="bg-zinc-300 dark:bg-zinc-700 p-3 my-6 text-center rounded-lg"
        >
          <MotionSection client:load delay={0.15} classNames="mb-0">
            <a href={frontmatter.pageUrl} class="inline-block">
              <Heading
                as="h1"
                variant="section-title"
                className="no-underline mt-4"
              >
                {frontmatter.title}
              </Heading>
            </a>
          </MotionSection>
        </div>
        <MotionSection client:load delay={0.3}>
          <slot />
        </MotionSection>
        {
          projects.length > 0 && (
            <MotionSection client:visible delay={0.2} classNames="mb-8">
              <Heading as="h2" variant="section-title" className="text-xl">
                More Projects
              </Heading>
              <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                {projects.map(p => (
                  <MoreProjectsGridItem project={p} />
                ))}
              </div>
            </MotionSection>
          )
        }
        <span class="mb-8 decoration-zinc-300"></span>
      </Content>
    </main>
  </Body>
  <Footer />
</html>
